.first{
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    background-color: orange;
}
.first img{
    margin-top: 17%;
    margin-bottom: 20px;
}
.first h1{
    line-height: 4rem;
}
.container{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container h1{
    font-weight: 550;
}
.second{
    /* background-image: url("/img/backgrounds/s_image.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.603);
}
.second h1{
    line-height: 4rem;
    font-weight: 550;
    padding-top: 100px;
}
.second p{
    padding-bottom: 80px;
}
.col-md-3 img{
    padding-right: 20px;
}
.third h1{
    padding-bottom: 10px;
}
.third p{
    padding-top: 10px;
}
.forth{
    margin-top: 30px;
    /* background-image: url("/img/backgrounds/c_image.png"); */
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.541);
}
.forth h1{
    padding-top: 30px;
    padding-bottom: 30px;
}
.forth input{
    background-color: rgba(255, 255, 255, 0.199);
    width: 100%;
    border-color: white;
    box-shadow: 0;
}
.forth textarea{
    width: 70%;
    background-color: rgba(255, 255, 255, 0.205);
   
    border-color: white;
    margin-bottom: 70px;
}
::placeholder{
    color: #fff;
}
.fifth{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.fifth img{
    padding-right: 15px;
}
.fifth h3{
    padding-top: 10px;
}
.showing{
    display: none;
}
.port{
    padding-top: 12px;
}
.textWithImg :not(img){
    position: absolute;
    top: 30%;
    z-index: 1;
    color: rgb(243, 240, 240);
    font-size: large;
    text-align: center;
    display: none;
    width: 70%;
}
